﻿@using BikeShop.Website.Models
@{
    ViewBag.Title = "Home Page";
}

<div>
    @foreach (Category category in ViewBag.Categories)
    {
    <div class="card col-3 m-3">
        <a href="@Url.Action("Index", "Product", new { category.CategoryId })"
           ><img src="~/Content/CategoryImages/bike.png" width="150" /></a>
        <a href="@Url.Action("Index", "Product", new { category.CategoryId })">
            @category.CategoryName
        </a>
    </div>
    }
</div>