﻿@model BikeShop.Website.ViewModels.BikeShopSearchResults
@using PagedList.Mvc;
@{
    ViewBag.Title = "Bike Shop";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Index", "Shop", FormMethod.Get))
{
    var categories = new SelectList(Model.Categories, "CategoryId", "CategoryName");

    var sortByArray = new SelectListItem[]
    {
        new SelectListItem { Value = "CategoryId", Text = "Category #" },
        new SelectListItem { Value = "ProductId", Text = "Product #" },
        new SelectListItem { Value = "RetailPrice", Text = "Price" },
        new SelectListItem { Value = "ProductName", Text = "Name" }
    };
    var sortByList = new SelectList(sortByArray, "Value", "Text");

    <div class="mb-3">
        @Html.DropDownListFor(m => m.Categories, categories, "(All)")
        @Html.EditorFor(m => m.Search, new { htmlAttributes = new { placeholder = "Search" } })
        @Html.EditorFor(m => m.MinPrice, new { htmlAttributes = new { placeholder = "Min" } })
        @Html.EditorFor(m => m.MaxPrice, new { htmlAttributes = new { placeholder = "Max" } })
        @Html.DropDownListFor(m => m.SortBy, sortByList)
        <input class="btn btn-primary" type="submit" value="Apply" />
    </div>
}

<table class="table">
    <tr>
        <th>
            #
        </th>
        <th>
            Name
        </th>
        <th>
            Price
        </th>
        <th>
            Quantity
        </th>
        <th>
            Category
        </th>
    </tr>

    @foreach (var item in Model.Results)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RetailPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryName)
            </td>
        </tr>
    }
</table>
<br />
<div>
    @Html.PagedListPager(
        Model.Results,
        page => Url.Action("Index", new
        {
            Search = Model.Search,
            CategoryId = Model.CategoryId,
            MinPrice = Model.MinPrice,
            MaxPrice = Model.MaxPrice,
            SortBy = Model.SortBy,
            Page = page,
            ItemsPerPage = Model.Results.PageSize,
        }),
        new PagedListRenderOptions
        {
            Display = PagedListDisplayMode.IfNeeded,
            DisplayPageCountAndCurrentLocation = true,
            DisplayEllipsesWhenNotShowingAllPageNumbers = true,
            MaximumPageNumbersToDisplay = 5,
            PageCountAndCurrentLocationFormat = "Page {0} of {1}"
        }
    )
</div>

@section scripts
{
    <script>
 $(".pagination > li").addClass("page-item");
 $(".pagination > li > a").addClass("page-link");
    </script>
}
