﻿@model IEnumerable<EmployeeWebsite.Models.department>

@{
    ViewBag.Title = "Departments";
}

<h1>@ViewBag.Title</h1>

<div class="genre-list">
    <div class="card mb-3">
        <h4 class="card-header">
            @Html.ActionLink("(All)", "Index", "Employee")
        </h4>
    </div>
</div>

@foreach (var d in Model)
{
    <div class="card mb-3">
        <h4 class="card-header">
            @Html.ActionLink(
            d.dept_name, "Index", "Employee",
            routeValues: new { dept_no = d.dept_no },
            htmlAttributes: null)
        </h4>
    </div>
}