﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-fixed-top fixed-top navbar-expand-md navbar-dark bg-dark">
        <div class="container">
            <div class="navbar-header">
                <button type="button" 
                        class="navbar-toggle navbar-toggler" 
                        data-toggle="collapse"
                        data-target="#navbar01"
                        aria-controls="navbar01"
                        aria-expanded="false"
                        aria-label="Toggle Navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                @Html.ActionLink("Work Orders", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse" id="navbar01">
                <ul class="nav navbar-nav">
                    <li class="nav-item">@Html.ActionLink("Customer", "Index", "Customer", null, htmlAttributes: new { @class = "nav-link" })</li>
                    <li class="nav-item">@Html.ActionLink("Order", "Index", "Order", null, htmlAttributes: new { @class = "nav-link" })</li>
                    <li class="nav-item">@Html.ActionLink("Parts", "Index", "Part", null, htmlAttributes: new { @class = "nav-link" })</li>
                    <li class="nav-item">@Html.ActionLink("Upload", "Upload", "Upload", null, htmlAttributes: new { @class = "nav-link" })</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
