﻿@model IEnumerable<BikeShop.Website.Models.Category>

@{
    ViewBag.Title = "Departments";
}

<h1>@ViewBag.Title</h1>

<div class="shop-list">
    <div class="card mb-3">
        <h4 class="card-header">
            @Html.ActionLink("(All)", "Index", "Shop")
        </h4>
    </div>
</div>

@foreach (var c in Model)
{
    <div class="card mb-3">
        <h4 class="card-header">
            @Html.ActionLink(
            c.CategoryName, "Index", "Shop",
            routeValues: new { CategoryId = c.CategoryId },
            htmlAttributes: null)
        </h4>
    </div>
}