﻿
@{
    ViewBag.Title = "Upload";
}

<h2>Upload</h2>

@using (Html.BeginForm("Upload", "Upload", FormMethod.Post, new { enctype = "multipart/form-data"}))
{
    <div>
        <input type="file" name="myFile" class="form-control-file my-3" />
        <input type="submit" value="Upload" class="btn btn-danger" />
        @Html.ValidationSummary(excludePropertyErrors: false)
        <div>@ViewBag.Message</div>
    </div>
}