﻿
@{
    ViewBag.Title = "Temp";
}

@if (ViewBag.fahrenheit != null)
{
    <p>Celsius: @ViewBag.celsius</p>
    <p>Kelvin: @ViewBag.kelTemp</p>
}

<h2>Temp</h2>

@using (Html.BeginForm("Index", "Temp", FormMethod.Post))
{
    <div>
        @Html.Label("fahrenheit", "Fahrenheit:")
        @Html.TextBox("fahrenheit", (object)ViewBag.fahrenheit)
        <br />
        <input type="submit" value="Calculate" />
    </div>
}

