﻿@model MovieWebsite.Models.Movie
@using MovieWebsite.ViewModels;




<div>
    @if (!string.IsNullOrWhiteSpace(Model.Image))
    {
        string urlMovie = Url.Content(
            Constants.MOVIE_FOLDER +
            Model.Image
            );
        <img src="@urlMovie" width="290" style="display: block; float: left;" />
    }
    <div style="display: block; margin-left: 350px; min-height: 620px;">
        <span style="font-size: 30px;">@Model.MovieName</span>
        <hr></hr>
        <p><span style="font-weight: bold;">Description:</span> @Model.MovieDescription</p>
        <p><span style="font-weight: bold;">Released:</span> @Model.ReleasedYear</p>
        <p><span style="font-weight: bold;">Ticket Sales:</span> @string.Format("{0:c}", Model.TicketSales)</p>
        <p><span style="font-weight: bold;">Genre:</span> @Model.Genre.GenreName</p>

        <div>
            <h2>Cast</h2>
            @foreach (var item in Model.Cast)
            {
                if (!string.IsNullOrWhiteSpace(item.ActorImage))
                {
                    string urlActor = Url.Content(
                        Constants.ACTOR_FOLDER +
                        Constants.ACTOR_THUMBNAILS +
                        item.ActorImage
                        );
                    <span><img src="@urlActor" width="100" height="100"/><span style="padding-left: 20px;">@item.ActorName</span> (@item.ActorRole)</span>
                    <br />
                    <br />
                }
            }
        </div>
        <p style="margin-top: 3em;">
            @Html.ActionLink("Edit", "Edit", new { id = Model.MovieId }) |
            @Html.ActionLink("Back to List", "Index")
        </p>
    </div>
</div>

