﻿@model MovieWebsite.Models.Actor

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Actor</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.ActorImage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ActorImage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.movie.MovieName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.movie.MovieName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ActorName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ActorName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ActorRole)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ActorRole)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ActorId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
