﻿@model IEnumerable<MovieWebsite.Models.Actor>
    @using MovieWebsite.ViewModels;

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ActorName)
        </th>
        <th>
            Movie
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ActorRole)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @if (!string.IsNullOrWhiteSpace(item.ActorImage))
            {
                string url = Url.Content(
                    Constants.ACTOR_FOLDER +
                    Constants.ACTOR_THUMBNAILS +
                    item.ActorImage
                    );
                <img src="@url" />
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ActorName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.movie.MovieName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ActorRole)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.ActorId }) |
            @Html.ActionLink("Details", "Details", new { id = item.ActorId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.ActorId })
        </td>
    </tr>
}

</table>
