﻿@model EmployeeWebsite.ViewModels.EmployeeSearchResults
@using PagedList.Mvc;
@using EmployeeWebsite.ViewModels;

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


@using (Html.BeginForm("Index", "Employee", FormMethod.Get))
{
    var departments = new SelectList(Model.Departments, "dept_no", "dept_name");

    var sortByArray = new SelectListItem[]
    {
        new SelectListItem { Value = "emp_no", Text = "Employee #" },
        new SelectListItem { Value = "last_name", Text = "Last Name" },
        new SelectListItem { Value = "first_name", Text = "First Name" },
        new SelectListItem { Value = "hire_date", Text = "Hire Date" },
        new SelectListItem { Value = "dept_name", Text = "Department" }
    };
    var sortByList = new SelectList(sortByArray, "Value", "Text");

    <div class="mb-3">
        @Html.DropDownListFor(m => m.Dept_no, departments, "(All)")
        @Html.EditorFor(m => m.MinYear, new { htmlAttributes = new { placeholder = "Min" } })
        @Html.EditorFor(m => m.MaxYear, new { htmlAttributes = new { placeholder = "Max" } })
        @Html.DropDownListFor(m => m.SortBy, sortByList)
        <input class="btn btn-primary" type="submit" value="Apply" />
    </div>
}
<table class="table">
    <tr>
        <th>
            #
        </th>
        <th>
            Portrait
        </th>
        <th>
            Last Name
        </th>
        <th>
            First Name
        </th>
        <th>
            Hire Date
        </th>
        <th>
            Department
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.Results) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.emp_no)
        </td>
        <td>
            @if (!string.IsNullOrWhiteSpace(item.emp_image))
            {
                string url = Url.Content(
                    Constants.EMP_IMAGES +
                    Constants.THUMBNAILS + item.emp_image
                    );
                <img src="@url" />
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.last_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.first_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.hire_date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dept_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dept_no)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.emp_no }) |
            @Html.ActionLink("Details", "Details", new { id = item.emp_no }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.emp_no })
        </td>
    </tr>
}
</table>
<p>
    @Html.ActionLink("Hire Employee", "Create")
</p>
