﻿@model WorkOrders.Website.Models.Order

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Order</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CustomerId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateOfRepair)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOfRepair)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WrittenBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WrittenBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Year)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Year)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Make)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Make)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Model)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Model)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LicensePlate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LicensePlate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mileage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mileage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LUBE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LUBE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OIL_CHANGE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OIL_CHANGE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FLUSH_TRANSMISSION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FLUSH_TRANSMISSION)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FLUSH_DIFFERENTIAL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FLUSH_DIFFERENTIAL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WASH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WASH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.POLISH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.POLISH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EstimateAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EstimateAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalLaborCost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalLaborCost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalPartCost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalPartCost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TaxAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TaxAmount)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
