﻿@model DealershipWebsite.ViewModels.VehicleSearchResults
@using PagedList.Mvc;
@using DealershipWebsite.ViewModels;
@{
    ViewBag.Title = "Search";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Index", "Vehicle", FormMethod.Get))
{
    // Sort by items
    var sortByArray = new SelectListItem[]
    {
        new SelectListItem { Value = "Make", Text = "Make"},
        new SelectListItem { Value = "Model", Text = "Model"},
        new SelectListItem { Value = "Year", Text = "Year"},
        new SelectListItem { Value = "Price", Text = "Price"}
    };
    var sortByList = new SelectList(sortByArray, "Value", "Text");

    // Sort by min price
    var sortByMinPrice = new SelectListItem[]
    {
        new SelectListItem {Value = "2500", Text = "$2,500+"},
        new SelectListItem {Value = "5000", Text = "$5,000+"},
        new SelectListItem {Value = "10000", Text = "$10,000+"},
        new SelectListItem {Value = "15000", Text = "$15,000+"},
        new SelectListItem {Value = "20000", Text = "$20,000+"},
        new SelectListItem {Value = "25000", Text = "$25,000+"},
        new SelectListItem {Value = "30000", Text = "$30,000+"},
        new SelectListItem {Value = "35000", Text = "$35,000+"},
        new SelectListItem {Value = "40000", Text = "$40,000+"},
        new SelectListItem {Value = "45000", Text = "$45,000+"},
        new SelectListItem {Value = "50000", Text = "$50,000+"}
    };
    var sortByMin = new SelectList(sortByMinPrice, "Value", "Text");

    // Sort by max price
    var sortByMaxPrice = new SelectListItem[]
    {
        new SelectListItem {Value = "2500", Text = "$2,500"},
        new SelectListItem {Value = "5000", Text = "$5,000"},
        new SelectListItem {Value = "10000", Text = "$10,000"},
        new SelectListItem {Value = "15000", Text = "$15,000"},
        new SelectListItem {Value = "20000", Text = "$20,000"},
        new SelectListItem {Value = "25000", Text = "$25,000"},
        new SelectListItem {Value = "30000", Text = "$30,000"},
        new SelectListItem {Value = "35000", Text = "$35,000"},
        new SelectListItem {Value = "40000", Text = "$40,000"},
        new SelectListItem {Value = "45000", Text = "$45,000"},
        new SelectListItem {Value = "50000", Text = "$50,000"}
    };
    var sortByMax = new SelectList(sortByMaxPrice, "Value", "Text");

    // Sort by year
    var sortByMinYear = new SelectListItem[]
    {
        new SelectListItem {Value = "2500", Text = "$2,500"},
        new SelectListItem {Value = "5000", Text = "$5,000"},
        new SelectListItem {Value = "10000", Text = "$10,000"},
        new SelectListItem {Value = "15000", Text = "$15,000"},
        new SelectListItem {Value = "20000", Text = "$20,000"},
        new SelectListItem {Value = "25000", Text = "$25,000"},
        new SelectListItem {Value = "30000", Text = "$30,000"},
        new SelectListItem {Value = "35000", Text = "$35,000"},
        new SelectListItem {Value = "40000", Text = "$40,000"},
        new SelectListItem {Value = "45000", Text = "$45,000"},
        new SelectListItem {Value = "50000", Text = "$50,000"}
    };
    var lowYear = new SelectList(sortByMaxPrice, "Value", "Text");
    <div>
        Minimum Price: @Html.DropDownListFor(m => m.MinPrice, sortByMin)
        Max Price: @Html.DropDownListFor(m => m.MaxPrice, sortByMax)
        @Html.EditorFor(m => m.Search, new { htmlAttributes = new { placeholder = "Search" } })
        <input type="submit" value="Apply" />
        <span style="margin-left: 30em;">
            Sort: @Html.DropDownListFor(m => m.SortBy, sortByList)
        </span>
        <br />
        <br />
    </div>
}
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
<table class="movie-list table">
    <tr class="bg-secondary">
        <th></th>
        <th>Make</th>
        <th>Model</th>
        <th>Year</th>
        <th>Color</th>
        <th>Price</th>
        <th></th>
    </tr>
    @foreach (var item in Model.Results)
    {
    <tr>
        <td>
            @if (!string.IsNullOrWhiteSpace(item.Image))
            {
                string url = Url.Content(
                    Constants.IMAGES_FOLDER +
                    item.Image);
                <img src="@url" />
            }
        </td>
        <td>
            @Html.DisplayFor(x => item.VehicleMake)
        </td>
        <td>
            @Html.DisplayFor(x => item.VehicleModel)
        </td>
        <td>
            @Html.DisplayFor(x => item.VehicleYear)
        </td>
        <td>
            @Html.DisplayFor(x => item.VehicleColor)
        </td>
        <td>
            @Html.DisplayFor(x => item.VehiclePrice)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.VehicleVin }) |
            @Html.ActionLink("Details", "Details", new { id = item.VehicleVin }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.VehicleVin })
        </td>
    </tr>
    }
</table>
<div>
    @Html.PagedListPager(
        Model.Results,
        page => Url.Action("Index", new
        {
            Search = Model.Search,
            MinYear = Model.MinYear,
            MaxYear = Model.MaxYear,
            SortBy = Model.SortBy,
            Page = page,
            ItemsPerPage = Model.Results.PageSize,
        }),
        new PagedListRenderOptions
        {
            Display = PagedListDisplayMode.IfNeeded,
            DisplayPageCountAndCurrentLocation = true,
            DisplayEllipsesWhenNotShowingAllPageNumbers = true,
            MaximumPageNumbersToDisplay = 5,
            PageCountAndCurrentLocationFormat = "Page {0} of {1}"
        }
    )
</div>
